<%= form_with model: post do |f| %>

  <!--画像投稿と現在の画像-->
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, accept: "image/*" %>
    <% if action_name == 'edit' %>
      <%= image_tag post.get_image(90, 90), class: "image pl-5" %>
      <span>Now image</span>
    <% end %>
  </div>

  <!--投稿タイトル入力フォーム-->
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <!--投稿本文入力フォーム-->
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, rows: '5', class: "form-control" %>
  </div>

  <!--送信ボタン-->
  <div class="form-group">
      <%= f.submit '投稿する', class: 'btn btn-info' %>
  </div>

<% end %>
